* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
  font-family: 'Comic Sans MS', sans-serif;
    background: #0a0a0a;
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 30px;
  }

  h1 {
    font-size: 2.5em;
    font-weight: bolder;
    margin: 20px;
    color: fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    animation: zoomInOut 2s ease-in-out infinite;
  }
  
  @keyframes zoomInOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.08);
    }
  }

  
  .info-table {
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
    border-collapse: collapse;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }
  
  .info-table th, .info-table td {
    border: 1px solid #333;
    padding: 20px;
    text-align: left;
    /* font-size: 20px; */
  }
  
  .info-table th {
    background-color: #222;
    color: #00ffcc;
  }
  
  .info-table td {
    color: #ddd;
  }
  
  .btc-logo {
    width: 100px;
    margin:  auto;
    display: block;
    filter: drop-shadow(0 0 10px #00ffcc);
  }
  
  .back-link {
    margin-top: 2rem;
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
  }
  
  .back-link a {
    color: #00ffcc;
    font-size: 1.1rem;
  }
  
  .back-link a:hover {
    color: #fff;
    text-decoration: underline;
  }
  




  @media (max-width: 600px) {

    body {
        padding: 10px 20px;
    }

    h1 {
        font-size: 2em;
        font-weight: bolder;
        color: #fff;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
        margin-bottom: 3rem;
      }

  
    .info-table {
        width: 100%;
      }


  }